body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: #fff;
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

header {
    padding: 80px 180px;
}

header a {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

ul>li {
    list-style-type: none;
}

li a {
    font-weight: 400;
    font-size: 16px;

}

.logo {
    display: flex;
    align-items: center;
    margin-right: 77px;
}

.logo a {
    font-weight: 400;
    font-size: 18px;
}

.logo-icon {
    display: flex;
    align-items: center;
    gap: 11px;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background: #4b5563;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin-right: 40px;
}

form {
    margin-left: 180px;
}

button {
    border-radius: 100px;
    width: 224px;
    height: 40px;
    background: rgba(31, 41, 55, 0.6);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    display: flex;
    align-items: center;
    padding-left: 14px;
    gap: 17px;
}

main {
    padding: 40px 180px;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 14px;
}

.blog__text {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
}

.icon {
    width: 4px;
    height: 4px;
    vertical-align: middle;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.58333;
    margin: 0 auto;
    text-align: center;
    max-width: 525px;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 214px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.profile__style1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
}

.profile__style2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #fff;
    opacity: 0.6;
}

.imgMain {
    display: block;
    margin: 0 auto;
    margin-bottom: 69px;
}

.text1,
.text2 {
    max-width: 708px;
    margin: 0 auto;
}

.text1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 30px;
}

.text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    margin-top: 0;
    margin-bottom: 30px;
}

.text2.second {
    margin-bottom: 0;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    opacity: 0.6;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}